In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

##### All Flights DataFrame

In [2]:
main2021 = pd.read_csv(r"C:\Users\laure\Documents\NSS\Python\projects\Capstone_Air_Project\data\large_hubs_2021.csv", index_col=[0])

C:\Users\laure\AppData\Local\Temp\ipykernel_41420\3575530830.py:1: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  main2021 = pd.read_csv(r"C:\Users\laure\Documents\NSS\Python\projects\Capstone_Air_Project\data\large_hubs_2021.csv", index_col=[0])

In [3]:
main2021.drop({'Year', 'DayofMonth', 'DepTime'}, axis=1, inplace=True)

In [4]:
main2021

,Month,DayOfWeek,date,departure,arrival,DepDelay,DepDelayMinutes,DepDel15,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,airline_code,airline,time_of_day
0,1,Tuesday,2021-01-05,DFW,DTW,-2.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,9E,Endeavor Air Inc.,Late Afternoon 3-6pm
1,1,Wednesday,2021-01-06,DFW,DTW,3.0,3.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,9E,Endeavor Air Inc.,Late Afternoon 3-6pm
2,1,Tuesday,2021-01-12,DFW,DTW,-5.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,9E,Endeavor Air Inc.,Late Afternoon 3-6pm
3,1,Wednesday,2021-01-13,DFW,DTW,-4.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,9E,Endeavor Air Inc.,Late Afternoon 3-6pm
4,1,Tuesday,2021-01-19,DFW,DTW,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,9E,Endeavor Air Inc.,Late Afternoon 3-6pm
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3842612,12,Sunday,2021-12-12,IAD,RIC,-1.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,G7,GoJet Airlines LLC d/b/a United Express,Late 9pm-midnight
3842613,12,Sunday,2021-12-12,EWR,STL,-3.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,G7,GoJet Airlines LLC d/b/a United Express,Late Afternoon 3-6pm
3842614,12,Sunday,2021-12-12,EWR,DCA,7.0,7.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,G7,GoJet Airlines LLC d/b/a United Express,Evening 6-9pm
3842615,12,Sunday,2021-12-12,EWR,DCA,-1.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,G7,GoJet Airlines LLC d/b/a United Express,Afternoon noon-3pm
3842616,12,Sunday,2021-12-12,EWR,RIC,2.0,2.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,G7,GoJet Airlines LLC d/b/a United Express,Late Afternoon 3-6pm

In [5]:
main2021.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3842617 entries, 0 to 3842616
Data columns (total 19 columns):
 #   Column             Dtype
---  ------             -----
 0   Month              int64
 1   DayOfWeek          object
 2   date               object
 3   departure          object
 4   arrival            object
 5   DepDelay           float64
 6   DepDelayMinutes    float64
 7   DepDel15           float64
 8   Cancelled          float64
 9   CancellationCode   object
 10  Diverted           float64
 11  CarrierDelay       float64
 12  WeatherDelay       float64
 13  NASDelay           float64
 14  SecurityDelay      float64
 15  LateAircraftDelay  float64
 16  airline_code       object
 17  airline            object
 18  time_of_day        object
dtypes: float64(10), int64(1), object(8)
memory usage: 586.3+ MB

In [6]:
main2021.columns

Index(['Month', 'DayOfWeek', 'date', 'departure', 'arrival', 'DepDelay',
       'DepDelayMinutes', 'DepDel15', 'Cancelled', 'CancellationCode',
       'Diverted', 'CarrierDelay', 'WeatherDelay', 'NASDelay', 'SecurityDelay',
       'LateAircraftDelay', 'airline_code', 'airline', 'time_of_day'],
      dtype='object')

##### Delays DataFrame

In [7]:
delaysdf = pd.DataFrame(main2021[main2021['DepDelayMinutes'] > 0])
delaysdf

,Month,DayOfWeek,date,departure,arrival,DepDelay,DepDelayMinutes,DepDel15,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,airline_code,airline,time_of_day
1,1,Wednesday,2021-01-06,DFW,DTW,3.0,3.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,9E,Endeavor Air Inc.,Late Afternoon 3-6pm
10,1,Sunday,2021-01-03,DTW,DSM,57.0,57.0,1.0,0.0,NaN,0.0,45.0,0.0,0.0,0.0,0.0,9E,Endeavor Air Inc.,Late Afternoon 3-6pm
11,1,Monday,2021-01-04,DTW,DSM,30.0,30.0,1.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,19.0,9E,Endeavor Air Inc.,Afternoon noon-3pm
23,1,Friday,2021-01-22,DTW,DSM,2.0,2.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,9E,Endeavor Air Inc.,Afternoon noon-3pm
33,1,Sunday,2021-01-03,DTW,SYR,11.0,11.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,9E,Endeavor Air Inc.,Evening 6-9pm
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3842596,12,Sunday,2021-12-12,DEN,GJT,41.0,41.0,1.0,0.0,NaN,0.0,7.0,0.0,0.0,0.0,27.0,C5,"Commutair Aka Champlain Enterprises, Inc.",Afternoon noon-3pm
3842599,12,Sunday,2021-12-12,IAD,LGA,36.0,36.0,1.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,29.0,C5,"Commutair Aka Champlain Enterprises, Inc.",Evening 6-9pm
3842601,12,Sunday,2021-12-12,IAH,OKC,96.0,96.0,1.0,0.0,NaN,0.0,96.0,0.0,10.0,0.0,0.0,C5,"Commutair Aka Champlain Enterprises, Inc.",Evening 6-9pm
3842614,12,Sunday,2021-12-12,EWR,DCA,7.0,7.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,G7,GoJet Airlines LLC d/b/a United Express,Evening 6-9pm
3842616,12,Sunday,2021-12-12,EWR,RIC,2.0,2.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,G7,GoJet Airlines LLC d/b/a United Express,Late Afternoon 3-6pm

# Departure delays by airport vs. BNA

##### Total Departing Flights by Large Hub

In [8]:
#total departing flights by hub
total_flights= main2021.groupby(["departure"])["departure"].count().reset_index(name="total_flights")
total_flights.sort_values('total_flights', ascending = False).reset_index(drop=True)

   departure  total_flights
0        ATL         313287
1        ORD         285607
2        DFW         280418
3        DEN         268140
4        CLT         226221
5        LAX         174318
6        SEA         168025
7        PHX         160640
8        IAH         153635
9        LAS         141412
10       MCO         132637
11       DTW         130232
12       MSP         121481
13       SLC         119075
14       PHL         103243
15       EWR         102451
16       SFO          98791
17       MIA          92012
18       BOS          90839
19       LGA          87880
20       FLL          87488
21       JFK          82650
22       BWI          75477
23       BNA          74828
24       IAD          74696
25       TPA          68399
26       MDW          64478
27       SAN          64257

##### Calculate Delayed Departing Flights by Large Hub

In [9]:
#total delayed flights by hub
total_delays = delaysdf.groupby(["departure"])["departure"].count().reset_index(name="total_delays")

##### Calculate % of Delayed Departing Flights by Large Hub

In [10]:
hubdelays = pd.merge(total_flights, total_delays, on='departure', how='outer')
hubdelays['percent_delay'] = pd.DataFrame((hubdelays['total_delays']/hubdelays['total_flights']*100).round(2))
hubdelays.sort_values('percent_delay', ascending = False).reset_index(drop=True)

   departure  total_flights  total_delays  percent_delay
0        MDW          64478         36641          56.83
1        BWI          75477         39828          52.77
2        DEN         268140        122901          45.83
3        LAS         141412         62890          44.47
4        BNA          74828         30046          40.15
5        MCO         132637         52617          39.67
6        PHX         160640         63334          39.43
7        FLL          87488         33754          38.58
8        EWR         102451         38850          37.92
9        MIA          92012         34882          37.91
10       DFW         280418        103603          36.95
11       LAX         174318         62290          35.73
12       TPA          68399         23176          33.88
13       SEA         168025         56159          33.42
14       JFK          82650         27307          33.04
15       IAH         153635         50363          32.78
16       SLC         119075         37887          31.82
17       ORD         285607         90734          31.77
18       SAN          64257         20231          31.48
19       ATL         313287         97216          31.03
20       IAD          74696         22132          29.63
21       SFO          98791         28093          28.44
22       BOS          90839         24535          27.01
23       CLT         226221         58430          25.83
24       LGA          87880         22524          25.63
25       DTW         130232         32927          25.28
26       MSP         121481         28394          23.37
27       PHL         103243         23885          23.13

In [11]:
#hubdelays.to_csv('hubdelays.csv')

##### Calculate Total % of Delayed Departing Flights overall Large Hubs

In [12]:
#total delayed flights all large hub
total_delays.total_delays.sum()

1325629

In [13]:
#total departing flights all hubs
total_flights.total_flights.sum()

3842617

In [14]:
#total delayed flights as a percentage = 34.50% of flights had a delays
result = (total_delays.total_delays.sum()/total_flights.total_flights.sum()*100).round(2)
print('Total % of Delayed Departing Flights: ' + str(result))

#this is by flight

Total % of Delayed Departing Flights: 34.5

##### National Average for departure delays

In [15]:
hubdelays.describe()
#mean is the average of the averages =  by airport 34.78%

       total_flights   total_delays  percent_delay
count      28.000000      28.000000      28.000000
mean   137236.321429   47343.892857      34.777857
std     73353.254275   27321.433326       8.253974
min     64257.000000   20231.000000      23.130000
25%     86278.500000   27896.500000      29.332500
50%    111159.000000   37264.000000      33.230000
75%    162486.250000   59395.000000      38.792500
max    313287.000000  122901.000000      56.830000

# On time departures by airport vs BNA

In [16]:
#hubdelays['total_on_time'] = (hubdelays['total_flights'] - hubdelays['total_delays'])
#hubdelays['percent_on_time'] = (hubdelays['total_on_time']/hubdelays['total_flights']*100).round(2)
#on_time = pd.DataFrame(hubdelays[['departure', 'total_flights', 'total_on_time', 'percent_on_time']]).sort_values('percent_on_time', ascending = False).reset_index(drop=True)
#on_time

In [17]:
#on_time.iloc[[23]]

##### Calculate Total % of On Time Departing Flights overall Large Hubs

In [18]:
#on_time.total_on_time.sum()

In [19]:
#on_time.total_flights.sum()

In [20]:
#total on time departing flights as a percentage 
#result = str((on_time.total_on_time.sum()/on_time.total_flights.sum()*100).round(2)) + '%'
#print('Total % of On Time Departing Flights: ' + str(result))

##### National Average for departure delays

In [21]:
#on_time.describe()
#mean is the average of the averages =  by airport 65.22%

# 5 Large Hub airports with highest total departure delay minutes vs. BNA
##### BNA ranks 24th of out 28 airports for total delay departure minutes

In [22]:
#minutedelay = delaysdf.groupby(['departure'])['DepDelayMinutes'].sum().reset_index(name="delay_minutes").sort_values('delay_minutes', ascending = False).reset_index(drop=True)
#minutedelay.head()

In [23]:
#minutedelay.iloc[[24]]

# 5 Large Hub airports with longest average departure delays in minutes vs. BNA

In [24]:
longavgdepartdelays = pd.DataFrame(delaysdf.groupby(['departure'])["DepDelayMinutes"].mean()).sort_values('DepDelayMinutes', ascending=False).reset_index()
longavgdepartdelays

   departure  DepDelayMinutes
0        IAD        47.558693
1        PHL        46.435587
2        LGA        44.237347
3        EWR        43.985817
4        IAH        43.492286
5        JFK        43.171202
6        ORD        42.604239
7        DFW        42.017326
8        FLL        40.232091
9        MIA        40.209363
10       MCO        39.426193
11       DTW        38.122999
12       MSP        37.129112
13       BOS        37.110251
14       TPA        35.922851
15       DEN        35.343097
16       SFO        35.250952
17       CLT        34.826630
18       LAX        33.779852
19       LAS        33.562554
20       PHX        33.401143
21       SAN        33.399387
22       SLC        32.917386
23       BNA        32.548159
24       BWI        29.713794
25       ATL        28.419663
26       MDW        28.290412
27       SEA        26.373511

In [25]:
longavgdepartdelays.tail()

   departure  DepDelayMinutes
23       BNA        32.548159
24       BWI        29.713794
25       ATL        28.419663
26       MDW        28.290412
27       SEA        26.373511

# MISC

## MONTH

##### Month with most flights 2021

In [26]:
monthmostflights = main2021.groupby(['Month'])["departure"].count().reset_index(name="flight_count").sort_values('flight_count', ascending = False).reset_index(drop=True)
monthmostflights.head()

   Month  flight_count
0      7        369932
1      8        369884
2     10        362978
3     12        351897
4     11        351219

In [27]:
bnamonthmostflights = main2021.loc[main2021['departure'] == 'BNA'].groupby(['Month'])["departure"].count().reset_index(name="BNA_flight_count").sort_values('BNA_flight_count', ascending = False).reset_index(drop=True)
bnamonthmostflights.head()

   Month  BNA_flight_count
0     10              7405
1      8              7395
2      7              7354
3     11              7016
4      9              7013

##### Month with most delays 2021

In [28]:
monthmostdelays = delaysdf.groupby(['Month'])["departure"].count().reset_index(name="delay_count").sort_values('delay_count', ascending = False).reset_index(drop=True)
monthmostdelays.head()

   Month  delay_count
0      7       171509
1      8       156695
2      6       150916
3     12       148741
4     10       134503

In [29]:
bnamonthmostdelays = delaysdf.loc[delaysdf['departure'] == 'BNA'].groupby(['Month'])["departure"].count().reset_index(name="BNA_delay_count").sort_values('BNA_delay_count', ascending = False).reset_index(drop=True)
bnamonthmostdelays.head()

   Month  BNA_delay_count
0      7             3690
1      6             3421
2     10             3421
3      8             3408
4     12             3084

###### Month with highest total departure delay minutes 2021

In [30]:
#monthminutedelay = delaysdf.groupby(['Month'])["DepDelayMinutes"].count().reset_index(name="delay_minutes").sort_values('delay_minutes', ascending = False).reset_index(drop=True)
#monthminutedelay.head()

In [31]:
#bnamonthminutedelay = delaysdf.loc[delaysdf['departure'] == 'BNA'].groupby(['Month'])["DepDelayMinutes"].count().reset_index(name="BNA_delay_minutes").sort_values('BNA_delay_minutes', ascending = False).reset_index(drop=True)
#bnamonthminutedelay.head()

##### Month with longest average total departure delay minutes 2021

In [32]:
monthavgminutedelay = delaysdf.groupby(['Month'])["DepDelayMinutes"].mean().reset_index(name="delay_minutes").sort_values('delay_minutes', ascending = False).reset_index(drop=True)
monthavgminutedelay.head()

   Month  delay_minutes
0      7      43.057665
1      6      42.154397
2      8      41.273212
3     12      37.030335
4      2      36.113544

## DAY

In [33]:
daymostflights = main2021.groupby(['DayOfWeek'])["departure"].count().reset_index(name="flight_count").sort_values('flight_count', ascending = False).reset_index(drop=True)
daymostflights

   DayOfWeek  flight_count
0     Friday        579351
1   Thursday        572697
2     Monday        569662
3     Sunday        566476
4  Wednesday        525926
5    Tuesday        515712
6   Saturday        512793

In [34]:
bnadaymostflights = main2021.loc[main2021['departure'] == 'BNA'].groupby(['DayOfWeek'])["departure"].count().reset_index(name="BNA_flight_count").sort_values('BNA_flight_count', ascending = False).reset_index(drop=True)
bnadaymostflights

   DayOfWeek  BNA_flight_count
0   Thursday             11356
1     Friday             11303
2     Sunday             11299
3     Monday             11278
4  Wednesday             10126
5    Tuesday             10022
6   Saturday              9444

##### Day of Week with most delays 2021

In [35]:
daymostdelays = delaysdf.groupby(['DayOfWeek'])["departure"].count().reset_index(name="delay_count").sort_values('delay_count', ascending = False).reset_index(drop=True)  
daymostdelays

   DayOfWeek  delay_count
0     Sunday       211622
1     Friday       208628
2     Monday       199564
3   Thursday       198810
4   Saturday       180430
5  Wednesday       164481
6    Tuesday       162094

In [36]:
bnadaymostdelays = delaysdf.loc[delaysdf['departure'] == 'BNA'].groupby(['DayOfWeek'])["departure"].count().reset_index(name="delay_count").sort_values('delay_count', ascending = False).reset_index(drop=True)
bnadaymostdelays

   DayOfWeek  delay_count
0     Sunday         5069
1     Friday         4728
2   Thursday         4676
3     Monday         4486
4   Saturday         3778
5    Tuesday         3662
6  Wednesday         3647

##### Day of week with highest departure delay minutes 2021

In [37]:
#dayminutedelay = delaysdf.groupby(['DayOfWeek'])["DepDelayMinutes"].sum().reset_index(name="delay_minutes").sort_values('delay_minutes', ascending = False).reset_index(drop=True) 
#dayminutedelay.head()

In [38]:
#bnadayminutedelays = delaysdf.loc[delaysdf['departure'] == 'BNA'].groupby(['DayOfWeek'])["DepDelayMinutes"].sum().reset_index(name="BNA_delay_minutes").sort_values('BNA_delay_minutes', ascending = False).reset_index(drop=True)
#bnadayminutedelays.head()

##### Day of week with longest average total departure delay minutes 2021

In [39]:
dayavgminutedelay = delaysdf.groupby(['DayOfWeek'])["DepDelayMinutes"].mean().reset_index(name="delay_minutes").sort_values('delay_minutes', ascending = False).reset_index(drop=True)
dayavgminutedelay.head()

  DayOfWeek  delay_minutes
0    Monday      39.225051
1  Thursday      36.987355
2    Sunday      36.812732
3  Saturday      36.209649
4    Friday      35.632537

In [40]:
bnadayavgminutedelay = delaysdf.loc[delaysdf['departure'] == 'BNA'].groupby(['DayOfWeek'])["DepDelayMinutes"].mean().reset_index(name="BNA_delay_minutes").sort_values('BNA_delay_minutes', ascending = False).reset_index(drop=True)
bnadayavgminutedelay

   DayOfWeek  BNA_delay_minutes
0     Sunday          35.909647
1     Monday          34.628845
2   Saturday          34.158020
3   Thursday          32.649487
4    Tuesday          31.510104
5  Wednesday          29.738964
6     Friday          28.554357

# Time of Day

In [41]:
time = delaysdf.groupby(['time_of_day'])['time_of_day'].count().reset_index(name="delay_count")
time.sort_values('delay_count', ascending = False)

              time_of_day  delay_count
2           Evening 6-9pm       287779
4    Late Afternoon 3-6pm       255078
5        Morning 9am-noon       233557
0      Afternoon noon-3pm       229180
3       Late 9pm-midnight       162248
1             Early 6-9am       133881
6  Overnight midnight-6am        23811

In [42]:
bnatime = delaysdf.loc[delaysdf['departure'] == 'BNA'].groupby(['time_of_day'])['time_of_day'].count().reset_index(name="delay_count")
bnatime.sort_values('delay_count', ascending = False)

              time_of_day  delay_count
2           Evening 6-9pm         7166
4    Late Afternoon 3-6pm         5487
5        Morning 9am-noon         5358
0      Afternoon noon-3pm         4450
1             Early 6-9am         4153
3       Late 9pm-midnight         3160
6  Overnight midnight-6am          271

In [43]:
#plt.bar('time_of_day', 'delay_count', data = bnatime, color='green')
#plt.xlabel('Day of Week')
#plt.ylabel('Delays')
#plt.title('Day of Week Delays')
#plt.xticks(rotation=80);

In [44]:
dayofweek = pd.merge(bnadaymostflights, bnadaymostdelays, how='left', left_on='DayOfWeek', right_on='DayOfWeek')
alldayofweek = pd.merge(dayofweek,bnadayavgminutedelay, how='left', left_on='DayOfWeek', right_on='DayOfWeek')
alldayofweek

   DayOfWeek  BNA_flight_count  delay_count  BNA_delay_minutes
0   Thursday             11356         4676          32.649487
1     Friday             11303         4728          28.554357
2     Sunday             11299         5069          35.909647
3     Monday             11278         4486          34.628845
4  Wednesday             10126         3647          29.738964
5    Tuesday             10022         3662          31.510104
6   Saturday              9444         3778          34.158020

# BNA Departures only

In [45]:
bna = pd.DataFrame(main2021[main2021['departure'] == 'BNA'])
bna

,Month,DayOfWeek,date,departure,arrival,DepDelay,DepDelayMinutes,DepDel15,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,airline_code,airline,time_of_day
8831,1,Monday,2021-01-04,BNA,DTW,5.0,5.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,9E,Endeavor Air Inc.,Late Afternoon 3-6pm
11046,1,Tuesday,2021-01-05,BNA,DFW,-5.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,AA,American Airlines Inc.,Late Afternoon 3-6pm
11047,1,Wednesday,2021-01-06,BNA,DFW,-5.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,AA,American Airlines Inc.,Late Afternoon 3-6pm
11048,1,Thursday,2021-01-07,BNA,DFW,-8.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,AA,American Airlines Inc.,Late Afternoon 3-6pm
11049,1,Friday,2021-01-08,BNA,DFW,-10.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,AA,American Airlines Inc.,Late Afternoon 3-6pm
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3835653,12,Thursday,2021-12-02,BNA,DEN,-1.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,UA,United Air Lines Inc.,Afternoon noon-3pm
3841410,12,Wednesday,2021-12-15,BNA,IAH,-6.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,C5,"Commutair Aka Champlain Enterprises, Inc.",Morning 9am-noon
3841747,12,Tuesday,2021-12-14,BNA,IAD,-2.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,C5,"Commutair Aka Champlain Enterprises, Inc.",Afternoon noon-3pm
3842093,12,Monday,2021-12-13,BNA,IAH,13.0,13.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,C5,"Commutair Aka Champlain Enterprises, Inc.",Morning 9am-noon
3842431,12,Sunday,2021-12-12,BNA,IAD,72.0,72.0,1.0,0.0,NaN,0.0,9.0,0.0,0.0,0.0,52.0,C5,"Commutair Aka Champlain Enterprises, Inc.",Afternoon noon-3pm

# BNA Delays only

In [46]:
bnadelays = pd.DataFrame(delaysdf[delaysdf['departure'] == 'BNA'])
bnadelays.reset_index()

,index,Month,DayOfWeek,date,departure,arrival,DepDelay,DepDelayMinutes,DepDel15,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,airline_code,airline,time_of_day
0,8831,1,Monday,2021-01-04,BNA,DTW,5.0,5.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,9E,Endeavor Air Inc.,Late Afternoon 3-6pm
1,11054,1,Wednesday,2021-01-13,BNA,DFW,9.0,9.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,AA,American Airlines Inc.,Late Afternoon 3-6pm
2,11056,1,Friday,2021-01-15,BNA,DFW,27.0,27.0,1.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,AA,American Airlines Inc.,Late Afternoon 3-6pm
3,11061,1,Wednesday,2021-01-20,BNA,DFW,68.0,68.0,1.0,0.0,NaN,0.0,0.0,68.0,11.0,0.0,0.0,AA,American Airlines Inc.,Evening 6-9pm
4,11063,1,Friday,2021-01-22,BNA,DFW,25.0,25.0,1.0,0.0,NaN,0.0,0.0,0.0,23.0,0.0,0.0,AA,American Airlines Inc.,Late Afternoon 3-6pm
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30041,3835093,12,Friday,2021-12-03,BNA,ORD,1.0,1.0,0.0,0.0,NaN,0.0,0.0,0.0,25.0,0.0,0.0,UA,United Air Lines Inc.,Late Afternoon 3-6pm
30042,3835146,12,Friday,2021-12-03,BNA,EWR,12.0,12.0,0.0,0.0,NaN,0.0,0.0,0.0,37.0,0.0,0.0,UA,United Air Lines Inc.,Late Afternoon 3-6pm
30043,3835148,12,Friday,2021-12-03,BNA,IAH,14.0,14.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,UA,United Air Lines Inc.,Late Afternoon 3-6pm
30044,3842093,12,Monday,2021-12-13,BNA,IAH,13.0,13.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,C5,"Commutair Aka Champlain Enterprises, Inc.",Morning 9am-noon
30045,3842431,12,Sunday,2021-12-12,BNA,IAD,72.0,72.0,1.0,0.0,NaN,0.0,9.0,0.0,0.0,0.0,52.0,C5,"Commutair Aka Champlain Enterprises, Inc.",Afternoon noon-3pm

# Delay Causes BNA departures

##### Carrier Delay

In [47]:
bnacarrierdelay = bna[bna['CarrierDelay'] > 0]
len(bnacarrierdelay)

8069

In [48]:
len(bnacarrierdelay)/len(bnadelays)*100

26.855488251347932

##### Weather Delay

In [49]:
bnaweatherdelay = bna[bna['WeatherDelay'] > 0]
len(bnaweatherdelay)

524

In [50]:
len(bnaweatherdelay)/len(bnadelays)*100

1.7439925447646942

##### NAS Delay

In [51]:
bnanasdelay = bna[bna['NASDelay'] > 0]
len(bnanasdelay)

5420

In [52]:
len(bnanasdelay)/len(bnadelays)*100

18.039006856153897

##### Security Delay

In [53]:
bnasecuritydelay = bna[bna['SecurityDelay'] > 0]
len(bnasecuritydelay)

70

In [54]:
len(bnasecuritydelay)/len(bnadelays)*100

0.23297610330826066

##### Late Aircraft Delay

In [55]:
bnalateaircraftdelay = bna[bna['LateAircraftDelay'] > 0]
len(bnalateaircraftdelay)

7910

In [56]:
len(bnalateaircraftdelay)/len(bnadelays)*100

26.326299673833454

# Delay Causes ALL departures

##### Carrier Delay

In [57]:
carrierdelay = main2021[main2021['CarrierDelay'] > 0]
len(carrierdelay)

413883

In [58]:
len(carrierdelay)/len(delaysdf)*100

31.221631391588446

##### Weather Delay

In [59]:
weatherdelay = main2021[main2021['WeatherDelay'] > 0]
len(weatherdelay)

45840

In [60]:
len(weatherdelay)/len(delaysdf)*100

3.457981079170718

##### NAS Delay

In [61]:
nasdelay = main2021[main2021['NASDelay'] > 0]
len(nasdelay)

292956

In [62]:
len(nasdelay)/len(delaysdf)*100

22.09939583397768

##### Security Delay

In [63]:
securitydelay = main2021[main2021['SecurityDelay'] > 0]
len(securitydelay)

4821

In [64]:
len(securitydelay)/len(delaysdf)*100

0.36367641323477384

##### Late Aircraft Delay

In [65]:
lateaircraftdelay = main2021[main2021['LateAircraftDelay'] > 0]
len(lateaircraftdelay)

282907

In [66]:
len(lateaircraftdelay)/len(delaysdf)*100

21.341340601329634

# Delay Summaries for Departing BNA flights by Airline

In [67]:
#bnacarrierdelay = bna[bna['CarrierDelay'] > 0].groupby(['airline'])['CarrierDelay'].count().reset_index(name="BNA_flight_count").sort_values('BNA_flight_count', ascending = False).reset_index(drop=True)
#bnacarrierdelay

In [68]:
#bnaweatherdelay = bna[bna['WeatherDelay'] > 0].groupby(['airline'])['WeatherDelay'].count().reset_index(name="BNA_flight_count").sort_values('BNA_flight_count', ascending = False).reset_index(drop=True)
#bnaweatherdelay

In [69]:
#bnanasdelay = bna[bna['NASDelay'] > 0].groupby(['airline'])['NASDelay'].count().reset_index(name="BNA_flight_count").sort_values('BNA_flight_count', ascending = False).reset_index(drop=True)
#bnanasdelay

In [70]:
#bnasecuritydelay = bna[bna['SecurityDelay'] > 0].groupby(['airline'])['SecurityDelay'].count().reset_index(name="BNA_flight_count").sort_values('BNA_flight_count', ascending = False).reset_index(drop=True)
#bnasecuritydelay

In [71]:
#bnalateaircraftdelay = bna[bna['LateAircraftDelay'] > 0].groupby(['airline'])['LateAircraftDelay'].count().reset_index(name="BNA_flight_count").sort_values('BNA_flight_count', ascending = False).reset_index(drop=True)
#bnalateaircraftdelay

# Double Check Delays

In [72]:
idontknow = bnadelays.loc[:,['CarrierDelay', 'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay']].isna().sum()
idontknow

CarrierDelay         17559
WeatherDelay         17559
NASDelay             17559
SecurityDelay        17559
LateAircraftDelay    17559
dtype: int64

In [73]:
idontknow = bnadelays.loc[:,['DepDelayMinutes','CarrierDelay', 'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay']]
idontknow

,DepDelayMinutes,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
8831,5.0,NaN,NaN,NaN,NaN,NaN
11054,9.0,NaN,NaN,NaN,NaN,NaN
11056,27.0,NaN,NaN,NaN,NaN,NaN
11061,68.0,0.0,68.0,11.0,0.0,0.0
11063,25.0,0.0,0.0,23.0,0.0,0.0
...,...,...,...,...,...,...
3835093,1.0,0.0,0.0,25.0,0.0,0.0
3835146,12.0,0.0,0.0,37.0,0.0,0.0
3835148,14.0,NaN,NaN,NaN,NaN,NaN
3842093,13.0,NaN,NaN,NaN,NaN,NaN
3842431,72.0,9.0,0.0,0.0,0.0,52.0

In [74]:
idontknow = bnadelays.loc[:,['DepDelayMinutes']].isna().sum()
idontknow

DepDelayMinutes    0
dtype: int64

# BNA CANCELLED FLIGHTS BY AIRLINE

In [75]:
bnaairlines = bna.groupby(['airline'])['airline'].count().reset_index(name="BNA_flight_count").sort_values('BNA_flight_count', ascending = False).reset_index(drop=True)

In [76]:
cancelled = bna[bna['Cancelled'] == 1].groupby(['airline'])['Cancelled'].count().reset_index(name='cancelled_flights').sort_values('cancelled_flights', ascending = False).reset_index(drop=True)

In [77]:
bnacancelled = pd.merge(bnaairlines, cancelled, how='left', left_on='airline', right_on='airline')
bnacancelled['percent_cancelled'] = pd.DataFrame((bnacancelled['cancelled_flights']/bnacancelled['BNA_flight_count']*100).round(2))
bnacancelled

,airline,BNA_flight_count,cancelled_flights,percent_cancelled
0,Southwest Airlines Co.,38289,735.0,1.92
1,Republic Airline,6566,114.0,1.74
2,American Airlines Inc.,6537,185.0,2.83
3,Delta Air Lines Inc.,5819,40.0,0.69
4,SkyWest Airlines Inc.,5230,116.0,2.22
5,Allegiant Air,2141,117.0,5.46
6,United Air Lines Inc.,1890,52.0,2.75
7,Spirit Air Lines,1700,69.0,4.06
8,Mesa Airlines Inc.,1304,29.0,2.22
9,PSA Airlines Inc.,1151,20.0,1.74
10,JetBlue Airways,949,18.0,1.90
11,Envoy Air,869,6.0,0.69
12,Frontier Airlines Inc.,783,20.0,2.55
13,Endeavor Air Inc.,765,2.0,0.26
14,Alaska Airlines Inc.,645,13.0,2.02
15,GoJet Airlines LLC d/b/a United Express,62,NaN,NaN
16,Piedmont Airlines,53,3.0,5.66
17,"Commutair Aka Champlain Enterprises, Inc.",52,2.0,3.85
18,Air Wisconsin Airlines Corp,23,1.0,4.35

In [78]:
bnacancelled.mean()

C:\Users\laure\AppData\Local\Temp\ipykernel_41420\2463634844.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  bnacancelled.mean()

BNA_flight_count     3938.315789
cancelled_flights      85.666667
percent_cancelled       2.606111
dtype: float64

# ALL CANCELLATIONS ALL HUBS BY AIRLINE

In [79]:
allcancelled = main2021[main2021['Cancelled'] == 1].groupby(['airline'])['Cancelled'].count().reset_index(name='cancelled_flights').sort_values('cancelled_flights', ascending = False).reset_index(drop=True)

In [80]:
allairlineflights = main2021.groupby(['airline'])['airline'].count().reset_index(name="flight_count").sort_values('flight_count', ascending = False).reset_index(drop=True)

In [81]:
cancelledall = pd.merge(allairlineflights, allcancelled, how='left', left_on='airline', right_on='airline')
cancelledall['percent_cancelled'] = pd.DataFrame((cancelledall['cancelled_flights']/cancelledall['flight_count']*100).round(2))
cancelledall

,airline,flight_count,cancelled_flights,percent_cancelled
0,Delta Air Lines Inc.,570403,2791,0.49
1,American Airlines Inc.,562044,11939,2.12
2,Southwest Airlines Co.,553498,12202,2.20
3,SkyWest Airlines Inc.,423952,6931,1.63
4,United Air Lines Inc.,351790,4673,1.33
5,Republic Airline,187114,3250,1.74
6,JetBlue Airways,146184,2184,1.49
7,Spirit Air Lines,143518,4005,2.79
8,Endeavor Air Inc.,141196,542,0.38
9,Envoy Air,129097,2798,2.17
10,Alaska Airlines Inc.,112753,1818,1.61
11,PSA Airlines Inc.,101343,951,0.94
12,Frontier Airlines Inc.,96289,1238,1.29
13,Mesa Airlines Inc.,92221,2634,2.86
14,Piedmont Airlines,48925,624,1.28
15,Horizon Air,46360,826,1.78
16,Air Wisconsin Airlines Corp,40791,1122,2.75
17,"Commutair Aka Champlain Enterprises, Inc.",38833,1255,3.23
18,GoJet Airlines LLC d/b/a United Express,31450,1151,3.66
19,Allegiant Air,18804,738,3.92
20,Hawaiian Airlines Inc.,6052,22,0.36

In [82]:
cancelledall.mean()

C:\Users\laure\AppData\Local\Temp\ipykernel_41420\1721603233.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  cancelledall.mean()

flight_count         182981.761905
cancelled_flights      3033.047619
percent_cancelled         1.905714
dtype: float64

In [83]:
hubcancelled = main2021[main2021['Cancelled'] == 1].groupby(['departure', 'airline', 'CancellationCode' ])['Cancelled'].count().reset_index(name='cancelled_flights').sort_values('cancelled_flights', ascending = False).reset_index(drop=True)

for index, row in hubcancelled.iterrows():

    if hubcancelled.loc[index, 'CancellationCode'] == 'A':
        hubcancelled.loc[index, 'CancellationCode'] = 'Carrier'
    elif hubcancelled.loc[index, 'CancellationCode'] == 'B':
        hubcancelled.loc[index, 'CancellationCode'] = 'Weather'
    elif hubcancelled.loc[index, 'CancellationCode'] == 'C':
        hubcancelled.loc[index, 'CancellationCode'] = 'NAS'
    elif hubcancelled.loc[index, 'CancellationCode'] == 'D':
        hubcancelled.loc[index, 'CancellationCode'] = 'Security'

In [84]:
weathercancelled = hubcancelled.loc[hubcancelled['CancellationCode'] == "Weather"]
weathercancelled.head()

  departure                 airline CancellationCode  cancelled_flights
0       DFW  American Airlines Inc.          Weather               2756
1       DEN  Southwest Airlines Co.          Weather               1625
3       DFW               Envoy Air          Weather               1469
4       DEN   SkyWest Airlines Inc.          Weather               1330
5       MDW  Southwest Airlines Co.          Weather               1128

In [85]:
carriercancelled = hubcancelled.loc[hubcancelled['CancellationCode'] == "Carrier"]
carriercancelled.head()

   departure                 airline CancellationCode  cancelled_flights
2        DFW  American Airlines Inc.          Carrier               1554
8        CLT  American Airlines Inc.          Carrier                878
9        SEA    Alaska Airlines Inc.          Carrier                741
13       DEN  Southwest Airlines Co.          Carrier                621
21       ORD  American Airlines Inc.          Carrier                484

# CANCELLATIONS BY DEPARTING HUB

In [86]:
airportswithmostcancellations = main2021[main2021['Cancelled'] == 1].groupby(['departure'])['Cancelled'].count().reset_index(name='cancelled_flights').sort_values('cancelled_flights', ascending = False).reset_index(drop=True)
airportswithmostcancellations = pd.DataFrame(airportswithmostcancellations.head())
airportswithmostcancellations

  departure  cancelled_flights
0       DFW               8980
1       ORD               5890
2       DEN               5839
3       IAH               3528
4       EWR               3234

In [87]:
airportswithmostdelays = delaysdf.groupby(['departure'])['departure'].count().reset_index(name='delays').sort_values('delays', ascending = False).reset_index(drop=True)
airportswithmostdelays = pd.DataFrame(airportswithmostdelays.head())
airportswithmostdelays

  departure  delays
0       DEN  122901
1       DFW  103603
2       ATL   97216
3       ORD   90734
4       PHX   63334

In [88]:
mostdelaycancel = pd.merge(airportswithmostcancellations,airportswithmostdelays, how='inner', left_on='departure', right_on='departure')
mostdelaycancel

  departure  cancelled_flights  delays
0       DFW               8980  103603
1       ORD               5890   90734
2       DEN               5839  122901

# TOP 5 Airlines with the highest probability for on time departure from BNA
##### must have at least 1000 departing flights

In [108]:
nodelaysbna = pd.DataFrame(bna[bna['DepDelayMinutes'] == 0]).groupby(['airline'])['airline'].count().reset_index(name='on_time_departure').sort_values('on_time_departure', ascending = False).reset_index(drop=True)
df1 = pd.merge(nodelaysbna, bnaairlines, how='inner', left_on='airline', right_on='airline')
df1['percent_on_time'] = (df1['on_time_departure']/df1['BNA_flight_count']*100).round(2)
df1 = pd.DataFrame(df1.sort_values('percent_on_time', ascending = False))
df1 = pd.DataFrame(df1[df1['BNA_flight_count'] >= 1000]).reset_index(drop=True)
df1

,airline,on_time_departure,BNA_flight_count,percent_on_time
0,Delta Air Lines Inc.,4846,5819,83.28
1,Republic Airline,5190,6566,79.04
2,SkyWest Airlines Inc.,3865,5230,73.90
3,Mesa Airlines Inc.,952,1304,73.01
4,PSA Airlines Inc.,810,1151,70.37
5,American Airlines Inc.,4564,6537,69.82
6,Spirit Air Lines,997,1700,58.65
7,United Air Lines Inc.,1056,1890,55.87
8,Allegiant Air,1191,2141,55.63
9,Southwest Airlines Co.,16949,38289,44.27

# Top 5 Departure delays destinations from BNA

In [90]:
delaysbna1 = bnadelays.groupby(['arrival'])['arrival'].count().reset_index(name='delay').sort_values('delay', ascending = False).reset_index(drop=True)
delaysbna1.head()

  arrival  delay
0     ORD   1346
1     DEN   1337
2     MCO   1217
3     IAH    977
4     DAL    951

# Top 5 Departure delays destinations from all hubs

In [91]:
delaysall1 = delaysdf.groupby(['arrival'])['arrival'].count().reset_index(name='delay').sort_values('delay', ascending = False).reset_index(drop=True)
delaysall1.head()

  arrival  delay
0     ATL  42871
1     DEN  40007
2     LAX  39770
3     ORD  34847
4     MCO  33492

### LOOK AT DELAY CAUSES FOR DENVER AND DALLAS FORT WORTH

#### DENVER

In [92]:
den = main2021[main2021['departure'] == 'DEN']
len(den)

268140

In [93]:
dendelay = den[den['DepDelayMinutes'] > 0]
len(dendelay)

122901

In [94]:
dencarrierdelay = den[den['CarrierDelay'] > 0]
len(dencarrierdelay)

42362

In [95]:
denmonthcarrierdelay = dencarrierdelay.groupby(['Month'])["CarrierDelay"].count().reset_index(name="delay_count").sort_values('delay_count', ascending = False).reset_index(drop=True)
denmonthcarrierdelay.sort_values('delay_count', ascending=False).head(1)

   Month  delay_count
0      7         6287

In [96]:
denmonthcarrierdelay.mean()

Month             6.500000
delay_count    3530.166667
dtype: float64

In [97]:
denweatherdelay = den[den['WeatherDelay'] > 0]
len(denweatherdelay)

3766

In [98]:
densecuritydelay = den[den['SecurityDelay'] > 0]
len(densecuritydelay)

120

In [99]:
dennasdelay = den[den['NASDelay'] > 0]
len(dennasdelay)

19209

In [100]:
denlatedelay = den[den['LateAircraftDelay'] > 0]
len(denlatedelay)

28397

In [101]:
denmonthlatedelay = denlatedelay.groupby(['Month'])["LateAircraftDelay"].count().reset_index(name="delay_count").sort_values('delay_count', ascending = False).reset_index(drop=True)
denmonthlatedelay.sort_values('delay_count', ascending=False).head(1)

   Month  delay_count
0      7         4869

In [102]:
denmonthlatedelay.mean()

Month             6.500000
delay_count    2366.416667
dtype: float64

### Airlines with most delays out of Denver

In [103]:
airlinedencarrierdelay = dencarrierdelay.groupby(['Month','airline', 'departure'])['airline'].count().reset_index(name="delay_count").sort_values('delay_count', ascending = False).reset_index(drop=True)
airlinedencarrierdelay.sort_values('Month', ascending = True)
july = airlinedencarrierdelay[airlinedencarrierdelay['Month'] == 7]
july

    Month                                    airline departure  delay_count
0       7                     Southwest Airlines Co.       DEN         2564
5       7                      SkyWest Airlines Inc.       DEN         1610
10      7                      United Air Lines Inc.       DEN         1252
33      7                     Frontier Airlines Inc.       DEN          326
41      7  Commutair Aka Champlain Enterprises, Inc.       DEN          217
49      7                     American Airlines Inc.       DEN          129
63      7                       Delta Air Lines Inc.       DEN           65
66      7                            JetBlue Airways       DEN           52
83      7                       Alaska Airlines Inc.       DEN           30
86      7                           Spirit Air Lines       DEN           28
98      7                              Allegiant Air       DEN           14

#### DFW

In [104]:
dfw = main2021[main2021['departure'] == 'DFW']
len(dfw)

280418

In [105]:
dfwdelay = dfw[dfw['DepDelayMinutes'] > 0]
len(dfwdelay)

103603

In [106]:
dfwcarrierdelay = dfw[dfw['CarrierDelay'] > 0]
len(dfwcarrierdelay)

35898

In [107]:
dfwmonthcarrierdelay = dfwcarrierdelay.groupby(['Month'])["CarrierDelay"].count().reset_index(name="delay_count").sort_values('delay_count', ascending = False).reset_index(drop=True)
dfwmondfwmonthlatedelay.mean()thcarrierdelay.sort_values('delay_count', ascending=False).head(1)

SyntaxError: invalid syntax (2724880944.py, line 2)

In [ ]:
dfwmonthcarrierdelay.mean()

In [ ]:
dfwweatherdelay = dfw[dfw['WeatherDelay'] > 0]
len(dfwweatherdelay)

In [ ]:
dfwsecuritydelay = dfw[dfw['SecurityDelay'] > 0]
len(dfwsecuritydelay)

In [ ]:
dfwnasdelay = dfw[dfw['NASDelay'] > 0]
len(dfwnasdelay)

In [ ]:
dfwlatedelay = dfw[dfw['LateAircraftDelay'] > 0]
len(dfwlatedelay)

In [ ]:
dfwmonthlatedelay = dfwlatedelay.groupby(['Month'])["LateAircraftDelay"].count().reset_index(name="delay_count").sort_values('delay_count', ascending = False).reset_index(drop=True)
dfwmonthlatedelay.sort_values('delay_count', ascending=False).head(1)

In [ ]:
dfwmonthlatedelay.mean()

In [ ]:
airlinedencarrierdelay = dfwcarrierdelay.groupby(['Month','airline', 'departure'])['airline'].count().reset_index(name="delay_count").sort_values('delay_count', ascending = False).reset_index(drop=True)
airlinedencarrierdelay.sort_values('Month', ascending = True)
july = airlinedencarrierdelay[airlinedencarrierdelay['Month'] == 7]
july